/*

       /$$           /$$                                  /$$$$$$                                       
      | $$          | $$                                 /$$__  $$                                      
  /$$$$$$$  /$$$$$$$| $$$$$$$   /$$$$$$  /$$$$$$$       | $$  \__//$$$$$$   /$$$$$$                     
 /$$__  $$ /$$_____/| $$__  $$ /$$__  $$| $$__  $$      | $$$$   /$$__  $$ /$$__  $$                    
| $$  | $$| $$      | $$  \ $$| $$$$$$$$| $$  \ $$      | $$_/  | $$  \ $$| $$  \__/                    
| $$  | $$| $$      | $$  | $$| $$_____/| $$  | $$      | $$    | $$  | $$| $$                          
|  $$$$$$$|  $$$$$$$| $$  | $$|  $$$$$$$| $$  | $$      | $$    |  $$$$$$/| $$                          
 \_______/ \_______/|__/  |__/ \_______/|__/  |__/      |__/     \______/ |__/                          
                                                                                                        
                                                                                                        
                                                                                                        
 /$$   /$$                     /$$       /$$$$$$$  /$$   /$$        /$$$$$$   /$$$$$$    /$$   /$$$$$$$$
| $$  | $$                    | $$      | $$__  $$| $$  | $$       /$$__  $$ /$$$_  $$ /$$$$  |_____ $$/
| $$  | $$  /$$$$$$   /$$$$$$$| $$   /$$| $$  \ $$| $$  | $$      |__/  \ $$| $$$$\ $$|_  $$       /$$/ 
| $$$$$$$$ |____  $$ /$$_____/| $$  /$$/| $$$$$$$/| $$  | $$        /$$$$$$/| $$ $$ $$  | $$      /$$/  
| $$__  $$  /$$$$$$$| $$      | $$$$$$/ | $$__  $$| $$  | $$       /$$____/ | $$\ $$$$  | $$     /$$/   
| $$  | $$ /$$__  $$| $$      | $$_  $$ | $$  \ $$| $$  | $$      | $$      | $$ \ $$$  | $$    /$$/    
| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$| $$  | $$|  $$$$$$/      | $$$$$$$$|  $$$$$$/ /$$$$$$ /$$/     
|__/  |__/ \_______/ \_______/|__/  \__/|__/  |__/ \______/       |________/ \______/ |______/|__/      
  
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@font-face {
  font-family: Circular;
  font-weight: bold;
  src: local("Circular"), url("../assets/CircularStd-Bold.otf") format("opentype"); }
@font-face {
  font-family: Circular;
  font-weight: normal;
  src: local("Circular"), url("../assets/CircularStd-Book.otf") format("opentype"); }
html {
  background-color: #ABFFCC; }

body {
  color: black;
  font-family: 'Circular', sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: bold; }
  body .row {
    overflow: hidden; }
  body #hero {
    background: url("../assets/hero-green.jpg");
    background-size: cover;
    height: 100vh; }
    body #hero #hero-banner {
      position: relative;
      background-color: rgba(255, 255, 255, 0.95);
      height: 100%;
      padding-top: 15px;
      padding-bottom: 15px; }
      body #hero #hero-banner #hero-logo {
        width: 100%; }
      body #hero #hero-banner #hero-info {
        padding: 0px 10px; }
        body #hero #hero-banner #hero-info #date-text {
          color: #4BCF7E; }
        body #hero #hero-banner #hero-info #email-sub-input {
          color: #4BCF7E; }
        body #hero #hero-banner #hero-info #email-sub-input:focus {
          color: black;
          border-color: #4BCF7E;
          box-shadow: none; }
        body #hero #hero-banner #hero-info #email-sub-submit {
          width: 100%;
          background-color: #4BCF7E;
          color: white; }
          body #hero #hero-banner #hero-info #email-sub-submit h4 {
            margin: 5px 0px; }
      body #hero #hero-banner #hero-webosphere {
        position: absolute;
        bottom: 0;
        padding: 15px 10px; }
        body #hero #hero-banner #hero-webosphere a {
          float: left;
          padding-right: 25px;
          display: inline-block;
          color: #4BCF7E;
          text-decoration: none; }
        body #hero #hero-banner #hero-webosphere a:hover {
          color: black; }
    body #hero #hero-nav {
      text-align: right;
      padding-right: 0px; }
      body #hero #hero-nav h4 {
        margin: 0px; }
      body #hero #hero-nav ul {
        margin: 0;
        height: 50px; }
      body #hero #hero-nav li {
        height: 100%;
        display: inline-block; }
      body #hero #hero-nav li a {
        display: block;
        line-height: 50px;
        padding: 0px 25px;
        text-transform: lowercase;
        text-decoration: none;
        color: white;
        transition: all 0.25s ease-in-out;
        border-bottom: 0px #4BCF7E solid; }
      body #hero #hero-nav li a:hover {
        border-bottom: 5px #4BCF7E solid; }
  body .section-title {
    padding-top: 50px;
    margin: 0px; }
  body .section-subtitle {
    padding: 10px 0px;
    margin: 0px; }
  body .short-separator {
    height: 1px;
    width: 75px;
    border-bottom: 1px #4BCF7E solid; }
  body #about {
    background-color: white;
    height: 100vh; }
    body #about p a {
      color: #4BCF7E; }
    body #about .section-title {
      color: #4BCF7E; }
    body #about #about-brain {
      max-height: 250px;
      float: right; }
    body #about #about-location {
      padding-top: 50px; }
      body #about #about-location #about-location-map {
        padding-top: 10px;
        width: 100%;
        height: 200px; }
      body #about #about-location #about-location-text {
        text-align: right; }
        body #about #about-location #about-location-text .short-separator {
          float: right; }
  body #schedule {
    background-color: #4BCF7E;
    height: 70vh;
    color: white; }
    body #schedule .section-subtitle {
      padding: 25px 0px 10px 0px;
      text-align: center; }
    body #schedule .sched-text {
      display: table;
      margin: auto;
      padding: 10px 25px 25px 25px;
      border-top: 1px white dotted; }
      body #schedule .sched-text p {
        float: left;
        padding-top: 10px;
        font-weight: bold; }
    body #schedule .schedule-left-text {
      text-align: right;
      padding-right: 15px;
      color: black; }
    body #schedule .schedule-right-text {
      text-align: left;
      padding-left: 15px;
      color: white; }
    body #schedule #full-sched-button {
      text-transform: uppercase;
      color: white;
      background-color: black;
      border: none;
      margin-top: 50px;
      width: 100%; }
  body #sponsors {
    background-color: white;
    height: 100vh; }
    body #sponsors .section-title {
      color: #4BCF7E; }
  body #faqs {
    background-color: #4BCF7E;
    color: white;
    padding-bottom: 50px; }
    body #faqs .section-subtitle {
      color: white;
      padding-top: 40px; }
    body #faqs p {
      color: black;
      padding-top: 10px;
      font-weight: normal; }
    body #faqs .short-separator {
      border-color: black; }
  body #footer {
    background-color: white;
    height: 100vh;
    color: #4BCF7E; }

/*# sourceMappingURL=custom.css.map */
