/*

       /$$           /$$                                  /$$$$$$                                       
      | $$          | $$                                 /$$__  $$                                      
  /$$$$$$$  /$$$$$$$| $$$$$$$   /$$$$$$  /$$$$$$$       | $$  \__//$$$$$$   /$$$$$$                     
 /$$__  $$ /$$_____/| $$__  $$ /$$__  $$| $$__  $$      | $$$$   /$$__  $$ /$$__  $$                    
| $$  | $$| $$      | $$  \ $$| $$$$$$$$| $$  \ $$      | $$_/  | $$  \ $$| $$  \__/                    
| $$  | $$| $$      | $$  | $$| $$_____/| $$  | $$      | $$    | $$  | $$| $$                          
|  $$$$$$$|  $$$$$$$| $$  | $$|  $$$$$$$| $$  | $$      | $$    |  $$$$$$/| $$                          
 \_______/ \_______/|__/  |__/ \_______/|__/  |__/      |__/     \______/ |__/                          
                                                                                                        
                                                                                                        
                                                                                                        
 /$$   /$$                     /$$       /$$$$$$$  /$$   /$$        /$$$$$$   /$$$$$$    /$$   /$$$$$$$$
| $$  | $$                    | $$      | $$__  $$| $$  | $$       /$$__  $$ /$$$_  $$ /$$$$  |_____ $$/
| $$  | $$  /$$$$$$   /$$$$$$$| $$   /$$| $$  \ $$| $$  | $$      |__/  \ $$| $$$$\ $$|_  $$       /$$/ 
| $$$$$$$$ |____  $$ /$$_____/| $$  /$$/| $$$$$$$/| $$  | $$        /$$$$$$/| $$ $$ $$  | $$      /$$/  
| $$__  $$  /$$$$$$$| $$      | $$$$$$/ | $$__  $$| $$  | $$       /$$____/ | $$\ $$$$  | $$     /$$/   
| $$  | $$ /$$__  $$| $$      | $$_  $$ | $$  \ $$| $$  | $$      | $$      | $$ \ $$$  | $$    /$$/    
| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$| $$  | $$|  $$$$$$/      | $$$$$$$$|  $$$$$$/ /$$$$$$ /$$/     
|__/  |__/ \_______/ \_______/|__/  \__/|__/  |__/ \______/       |________/ \______/ |______/|__/      
  
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@font-face {
	font-family: Circular;
	font-weight: bold;
	src: local('Circular'), url('../assets/CircularStd-Bold.otf') format("opentype");
}
@font-face {
	font-family: Circular;
	font-weight: normal;
	src: local('Circular'), url('../assets/CircularStd-Book.otf') format("opentype");
}

$light-green: #ABFFCC;
$mid-green: #84E5AA;
$dark-green: #4BCF7E;
$browser-height: 100vh;
$browser-height-half: 50vh;
$browser-width: 100%;

html {
	background-color: $light-green;
}

body {
	color: black;
	font-family: 'Circular', sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	.row {
		overflow: hidden;
	}

	#hero {
		background: url('../assets/hero-green.jpg');
		background-size: cover;
		height: $browser-height;


		#hero-banner {
			position: relative;
			background-color: rgba(255, 255, 255, 0.95);
			height: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			



			#hero-logo {
				width: 100%;
			}

			#hero-info {
				padding: 0px 10px;

				#date-text {
					color: $dark-green;
				}

				#email-sub-input {
					color: $dark-green;
				}

				#email-sub-input:focus {
					color: black;
					border-color: $dark-green;
					box-shadow: none;
				}

				#email-sub-submit {
					width: 100%;
					background-color: $dark-green;
					color: white;

					h4 {
						margin: 5px 0px;
					}
				}
			}

			#hero-webosphere {
				position: absolute;
				bottom: 0;
				padding: 15px 10px;
				
				a {
					float: left;
					padding-right: 25px;
					display: inline-block;
					color: $dark-green;
					text-decoration: none;
				}

				a:hover {
					color: black;
				}
			}

		}

		#hero-nav {
			text-align: right;
			padding-right: 0px;
			h4 {
				margin: 0px;
			}

			ul {
				margin: 0;
				height: 50px;
				// float: right;
			}
			
			li {
				// float: left;
				height: 100%;
				display: inline-block;
			}

			li a {
				display: block;
				line-height: 50px;
				padding: 0px 25px;
				text-transform: lowercase;
				text-decoration: none;
				color: white;
				transition: all 0.25s ease-in-out;
				border-bottom: 0px $dark-green solid;
			}

			li a:hover {
				border-bottom: 5px $dark-green solid;
				// background-color: $dark-green;
			}
		}
	}
	
	.section-title {
		padding-top: 50px;
		margin: 0px;
	}

	.section-subtitle {
		padding: 10px 0px;
		margin: 0px;
	}

	.short-separator {
		height: 1px;
		width: 75px;
		border-bottom: 1px $dark-green solid;
	}

	#about {
		background-color: white;
		height: $browser-height;

		p a {
			color: $dark-green;
		}

		.section-title {
			color: $dark-green;
		}

		#about-brain {
			max-height: 250px; 
			float: right;
		}

		#about-location {
			padding-top: 50px;
		
			#about-location-map {
				padding-top: 10px;
				width: 100%;
				height: 200px;
			}

			#about-location-text {
				text-align: right;

				.short-separator {
					float: right;
				}
			}
		}
	}

	#schedule {
		background-color: $dark-green;
		height: 70vh;
		color: white;

		.section-subtitle {
			padding: 25px 0px 10px 0px;
			text-align: center;
		}

		.sched-text {
			display: table;
			margin: auto;
			padding: 10px 25px 25px 25px;
			border-top: 1px white dotted;

			p {
				float: left;
				padding-top: 10px;
				font-weight: bold;
			}
		}

		.schedule-left-text {
			text-align: right;
			padding-right: 15px;
			color: black;
		}
		.schedule-right-text {
			text-align: left;
			padding-left: 15px;
			color: white;
		}

		#full-sched-button {
			text-transform: uppercase;
			color: white;
			background-color: black;
			border: none;
			margin-top: 50px;
			width: 100%;
		}
	}

	#sponsors {
		background-color: white;
		height: $browser-height;

		.section-title {
			color: $dark-green;
		}
	}

	#faqs {
		background-color: $dark-green;
		color: white;
		padding-bottom: 50px;

		.section-subtitle {
			color: white;
			padding-top: 40px;
		}

		p {
			color: black;
			padding-top: 10px;
			font-weight: normal;
		}

		.short-separator {
			border-color: black;
		}
	}
	
	#footer {
		background-color: white;
		height: $browser-height;
		color: $dark-green;
	}


}
