/*

       /$$           /$$                                  /$$$$$$                                       
      | $$          | $$                                 /$$__  $$                                      
  /$$$$$$$  /$$$$$$$| $$$$$$$   /$$$$$$  /$$$$$$$       | $$  \__//$$$$$$   /$$$$$$                     
 /$$__  $$ /$$_____/| $$__  $$ /$$__  $$| $$__  $$      | $$$$   /$$__  $$ /$$__  $$                    
| $$  | $$| $$      | $$  \ $$| $$$$$$$$| $$  \ $$      | $$_/  | $$  \ $$| $$  \__/                    
| $$  | $$| $$      | $$  | $$| $$_____/| $$  | $$      | $$    | $$  | $$| $$                          
|  $$$$$$$|  $$$$$$$| $$  | $$|  $$$$$$$| $$  | $$      | $$    |  $$$$$$/| $$                          
 \_______/ \_______/|__/  |__/ \_______/|__/  |__/      |__/     \______/ |__/                          
                                                                                                        
                                                                                                        
                                                                                                        
 /$$   /$$                     /$$       /$$$$$$$  /$$   /$$        /$$$$$$   /$$$$$$    /$$   /$$$$$$$$
| $$  | $$                    | $$      | $$__  $$| $$  | $$       /$$__  $$ /$$$_  $$ /$$$$  |_____ $$/
| $$  | $$  /$$$$$$   /$$$$$$$| $$   /$$| $$  \ $$| $$  | $$      |__/  \ $$| $$$$\ $$|_  $$       /$$/ 
| $$$$$$$$ |____  $$ /$$_____/| $$  /$$/| $$$$$$$/| $$  | $$        /$$$$$$/| $$ $$ $$  | $$      /$$/  
| $$__  $$  /$$$$$$$| $$      | $$$$$$/ | $$__  $$| $$  | $$       /$$____/ | $$\ $$$$  | $$     /$$/   
| $$  | $$ /$$__  $$| $$      | $$_  $$ | $$  \ $$| $$  | $$      | $$      | $$ \ $$$  | $$    /$$/    
| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$| $$  | $$|  $$$$$$/      | $$$$$$$$|  $$$$$$/ /$$$$$$ /$$/     
|__/  |__/ \_______/ \_______/|__/  \__/|__/  |__/ \______/       |________/ \______/ |______/|__/      
  
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@font-face {
	font-family: Circular;
	font-weight: bold;
	src: local('Circular'), url('../assets/CircularStd-Bold.otf') format("opentype");
}
@font-face {
	font-family: Circular;
	font-weight: normal;
	src: local('Circular'), url('../assets/CircularStd-Book.otf') format("opentype");
}

$light-green: #ABFFCC;
$mid-green: #84E5AA;
$dark-green: #4BCF7E;
$browser-height: 100vh;
$browser-height-half: 50vh;
$browser-width: 100%;

html {
	background-color: white;
}

body {
	color: black;
	font-family: 'Circular', sans-serif;

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1 {
		// font-size: 4vh;

	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}

	.row {
		overflow: hidden;
	}

	.subtitle-icon {
		padding-right: 5px;
	}


	#hero {
		background: url('../assets/hero-green.jpg');
		background-size: cover;
		height: $browser-height;
		
		#nav-secondary {
			display: none;
			background-color: rgba(255, 255, 255, 0.95);
			border-bottom: 1px dotted $dark-green;

			// background: -moz-linear-gradient(45deg, rgba(75,207,126,0) 0%, rgba(151,227,180,1) 42%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(45deg, rgba(75,207,126,0) 0%,rgba(151,227,180,1) 42%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(45deg, rgba(75,207,126,0) 0%,rgba(151,227,180,1) 42%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004bcf7e', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			height: 40px;
			position: fixed;
			left: 0;
			z-index: 10;
			padding: 0px;

			h4 {
				margin: 0px;
			}

			ul {
				margin: 0;
				float: right;
			}
			
			li {
				float: left;
				height: 100%;
				display: inline-block;
			}

			li a {
				display: block;
				line-height: 40px;
				padding: 0px 25px;
				text-transform: lowercase;
				text-decoration: none;
				color: $dark-green;
				transition: all 0.2s ease-in-out;
			}

			li a:hover {
				margin: 0px 5px;
			}

		}

		#hero-banner {
			position: relative;
			background-color: rgba(255, 255, 255, 0.95);
			height: 100%;
			padding: 15px 20px;
			



			#hero-logo {
				width: 100%;
			}

			#hero-info {
				padding: 0px;

				#date-text {
					color: $dark-green;
				}

				#email-sub-input {
					color: $dark-green;
				}

				#email-sub-input:focus {
					color: black;
					border-color: $dark-green;
					box-shadow: none;
				}

				#email-sub-submit {
					width: 100%;
					background-color: $dark-green;
					color: white;

					h4 {
						margin: 5px 0px;
					}
				}
			}

			#hero-webosphere {
				position: absolute;
				bottom: 0;
				padding: 15px 0px;
				
				a {
					float: left;
					padding-right: 25px;
					display: inline-block;
					color: $dark-green;
					text-decoration: none;
				}

				a:hover {
					color: black;
				}
			}

		}

		#hero-nav {
			text-align: right;
			padding-right: 15px;

			#mlh-banner {
				float: right;
				max-width: 100px;
				min-width: 60px;
				width: 10%;

				img {
					width: 100%;
				}
			}


			h4 {
				margin: 0px;
			}

			ul {
				margin: 0;
				height: 50px;
				float: right;
			}
			
			li {
				float: left;
				height: 100%;
				display: inline-block;
			}

			li a {
				display: block;
				line-height: 50px;
				padding: 0px 25px;
				text-transform: lowercase;
				text-decoration: none;
				color: white;
				transition: all 0.25s ease-in-out;
				border-bottom: 0px $dark-green solid;
			}

			li a:hover {
				margin: 5px 5px;
				color: $mid-green;
			}
		}
	}
	
	.section-title {
		margin: 0px;
	}

	.section-subtitle {
		padding: 10px 0px;
		margin: 0px;
	}

	.short-separator {
		height: 1px;
		width: 75px;
		border-bottom: 1px $dark-green solid;
	}

	#about {
		background-color: white;
		padding: 50px 0px;
		color: $dark-green;	

		p, .section-subtitle {
			color: black;		
		}

		a, .subtitle-icon {
			color: $dark-green;
		}

		#about-brain {
			max-height: 250px; 
			float: right;
		}

		#about-location {
			padding-top: 50px;

			#about-location-map {
				width: 100%;
				height: 200px;
				border: 1px $dark-green solid;
				overflow: hidden;
				

				iframe {
					pointer-events: none;
				}
			}

			#about-location-text {
				text-align: right;

				.short-separator {
					float: right;
				}
			}
		}
	}

	#schedule {
		background-color: $dark-green;
		color: white;
		padding: 50px 0px;

		.section-subtitle {
			padding: 25px 0px 10px 0px;
			text-align: center;
		}

		.sched-event {
			width: 100%;
			// background-color: purple;
			float: left;

			p {
				margin: 0px;
			}

			.sched-time {
				width: 40%;
				// background-color: red;
				display: block;
				color: black;
				text-align: right;
				padding-right: 10px;
			}

			.sched-desc {
				width: 60%;
				// background-color: blue;
				display: block;
				text-align: left;
				padding-left: 10px;
			}
		}

		.sched-text {
			width: 100%;
			padding: 10px 0px 0px 0px;
			// border: 1px white dotted;

			p {
				float: left;
				font-weight: bold;
			}
		}


		#full-sched-button {
			text-transform: uppercase;
			color: white;
			background-color: black;
			border: none;
			margin-top: 50px;
			width: 100%;
		}
	}

	#sponsors {
		background-color: white;
		height: $browser-height;
		padding: 50px 0px;

		.section-title {
			color: $dark-green;
		}
	}

	#faqs {
		background-color: $dark-green;
		color: white;
		padding: 50px 0px;

		.section-subtitle {
			color: white;
			padding-top: 40px;
		}

		p {
			color: black;
			padding-top: 10px;
			font-weight: normal;
		}

		.short-separator {
			border-color: black;
		}
	}
	
	#footer {
		background-color: black;
		height: 18vh;
		color: white;

		.section-title {
			padding: 0px;
			line-height: 18vh;
		}
	}
}




.subpage-section {
	background-color: white;
	min-height: 100vh;
	
	.subpage-nav {
		text-align: right;
		padding-right: 15px;
		background-color: $dark-green;

		h4 {
			margin: 0px;
		}

		ul {
			margin: 0;
			height: 50px;
			float: right;
		}

		li {
			float: left;
			height: 100%;
			display: inline-block;
		}

		li a {
			display: block;
			line-height: 50px;
			padding: 0px 25px;
			text-transform: lowercase;
			text-decoration: none;
			color: white;
			transition: all 0.25s ease-in-out;
		}

		li a:hover {
			margin: 5px 5px;
		}
	}

	.subpage-hero {
	
		height: 25vh;
		background: url('../assets/hero-green.jpg');
		background-size: cover;
		margin-bottom: 7vh;

		.subpage-hero-title {
			text-align: center;

			h1 {
				line-height: 25vh;
				margin: 0;
				color: white;
			}
		}
	}

	.subpage-content {

		color: $dark-green;

		form {

			margin: 6vh 0;

			#file-selector-notif {
	
				line-height: 5vh;
				margin: 0;
			}

			.form-group {
				/*background-color: red;*/
				text-align: left;

				label { 
					text-align: left;
					padding: 0;

					h6, p {
						line-height: 5vh;
						margin: 0;
						padding: 0 10px;
					}
				}
				
				.btn {
					color: white;
					background-color: $dark-green;
					border: none;
					width: 100%;
					text-align: center;
					text-transform: uppercase;
					overflow: hidden;
				}

				input {
					border-color: $dark-green;
					color: $dark-green;
					height: 5vh;
					line-height: 5vh;
					padding: 0 10px;
				}

				input:active, input:focus {
					color: black;
				}
			}

			#registration-terms {
				margin: 7vh 0;

				a {
					color: inherit;
					text-decoration: none;
					border-bottom: 1px solid;
					border-color: inherit;
				}
			}

			#registration-submit {
				color: white;
				width: 75%;
				height: 7vh;
				line-height: 7vh;
				font-family: 'Circular', sans-serif;
				text-transform: uppercase;
				font-size: 2.5vmin;
				background-color: $dark-green;
				border: none;
				padding-top: 0;
				padding-bottom: 0;

			}

			#file-selector-notif {
					white-space: nowrap;
			}

		}
	}
}
